*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CAC8B9;
}
.navbar-header{
    background-color: #777C68;
}
.navbar-header-flexbox{
    display: flex;
    display: inline-flex;
    margin-right: 39px;
}
.navbar-header-nav-div1{
    position: left;
    display: inline;
}
.navbar-header-nav-div1-button1{
    size: 30px;
}
.logo-bookish-wisdoms{
    width: 80px;
    height: auto;
}